@font-face {
    font-family: pingpong-thin;
    font-display: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/ping-pong/PingPong-Thin.eot);
    src: url(./assets/fonts/ping-pong/PingPong-Thin.eot) format('embedded-opentype'),url(./assets/fonts/ping-pong/PingPong-Thin.woff2) format('woff2'),url(./assets/fonts/ping-pong/PingPong-Thin.woff) format('woff');
}

@font-face {
    font-family: pingpong-light;
    font-display: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/ping-pong/PingPong-Light.eot);
    src: url(./assets/fonts/ping-pong/PingPong-Light.eot) format('embedded-opentype'),url(./assets/fonts/ping-pong/PingPong-Light.woff2) format('woff2'),url(./assets/fonts/ping-pong/PingPong-Light.woff) format('woff');
}

@font-face {
    font-family: pingpong-regular;
    font-display: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/ping-pong/PingPong-Regular.eot);
    src: url(./assets/fonts/ping-pong/PingPong-Regular.eot) format('embedded-opentype'),url(./assets/fonts/ping-pong/PingPong-Regular.woff2) format('woff2'),url(./assets/fonts/ping-pong/PingPong-Regular.woff) format('woff');
}

@font-face {
    font-family: pingpong-medium;
    font-display: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/ping-pong/PingPong-Medium.eot);
    src: url(./assets/fonts/ping-pong/PingPong-Medium.eot) format('embedded-opentype'),url(./assets/fonts/ping-pong/PingPong-Medium.woff2) format('woff2'),url(./assets/fonts/ping-pong/PingPong-Medium.woff) format('woff');
}

@font-face {
    font-family: pingpong-bold;
    font-display: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/ping-pong/PingPong-Bold.eot);
    src: url(./assets/fonts/ping-pong/PingPong-Bold.eot) format('embedded-opentype'),url(./assets/fonts/ping-pong/PingPong-Bold.woff2) format('woff2'),url(./assets/fonts/ping-pong/PingPong-Bold.woff) format('woff');
}

@font-face {
    font-family: pingpong-xbold;
    font-display: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/ping-pong/PingPong-XBold.eot);
    src: url(./assets/fonts/ping-pong/PingPong-XBold.eot) format('embedded-opentype'),url(./assets/fonts/ping-pong/PingPong-XBold.woff2) format('woff2'),url(./assets/fonts/ping-pong/PingPong-XBold.woff) format('woff');
}

@font-face {
    font-family: pingpong-black;
    font-display: auto;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/ping-pong/PingPong-Black.eot);
    src: url(./assets/fonts/ping-pong/PingPong-Black.eot) format('embedded-opentype'),url(./assets/fonts/ping-pong/PingPong-Black.woff2) format('woff2'),url(./assets/fonts/ping-pong/PingPong-Black.woff) format('woff');
}