/**
 * Base
 */

$base-border-radius: .250rem;
$base-transition-property: all;
$base-transition-duration: .15s;
$base-transition-ease: ease-in-out; 
$base-transition: $base-transition-property $base-transition-duration $base-transition-ease;






/**
 * Colors
 */

$brand-primary: #1b9b45;
$brand-secondary: #2687e9;
$brand-danger: #db242a;





/**
 * Button
 */

$button-padding-x: 1.071em;
$button-padding-y: .857em;
$button-border-radius: $base-border-radius;
$button-font-size: .875rem;
$button-line-height: 1.143;
$button-color-default: #1b69c8;
$button-background-default: #f1f4f9;

// Variants
$button-variants: (
  primary: $brand-primary,
  secondary: $brand-secondary,
  danger: $brand-danger
);
$button-variants-color-default: #fff;

// button icon
$button-icon-size: .857em;





/**
 * Dropdown
 */

$dropdown-item-spacing: .571em;
$dropdown-item-padding-x: .571em;
$dropdown-item-padding-y: .286em;
$dropdown-item-background-hover: #f1f4f9;
$dropdown-item-font-size: .875rem;
$dropdown-item-line-height: 1.714em;
$dropdown-menu-padding-x: 1rem;
$dropdown-menu-padding-y: .875rem;
$dropdown-menu-border: 1px solid #c9d3dd;
$dropdown-menu-border-radius: $base-border-radius;
$dropdown-menu-background: #fff;
$dropdown-menu-box-shadow: 0 2px 4px rgba(202, 211, 221, .2);
